html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.large-header {
    position: relative;
    width: 100%;
    background: darkcyan;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }

 .text-white {
    color: lightskyblue!important;
 }

 #gang {
    text-decoration: underline;
 }

 .thin {
    color: lightskyblue!important;
 }

 .main-title {
    position: absolute;
    font-size: 5rem;
    margin: 0;
    padding: 5;
    color: blueviolet!important;
    font-family: "Arial", "Helvetica", "sans-serif";
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-40%, -30%, 0);
    transform: translate3d(-40%, -30%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 2.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }

.lead.mb-4 {
    width: 50%;
    margin: auto;
}

.title-section {
    background-color: lightgray;
    margin: -3% -3%;
}

.lead.mb-4 {
    font-family: 'Courier New', Courier, monospace;
}

.display-5.fw-bold.text-body-emphasis {
    font-family: "Arial", "Helvetica", "sans-serif";
    color: blueviolet!important;
}

.d-block.mx-auto.mb-4 {
    width: 350px;
    height: 500px;
    border-radius: 50%;
    margin-top: 10px;
}

.badge.text-bg-success.rounded-pill {
    font-size: xx-large;
    color: 	lightskyblue!important;
    background-color: blueviolet!important;
    display: flex;
    justify-content: center;
    margin-bottom: -25px;
}

.icon-square.text-body-emphasis.bg-body-secondary.d-inline-flex.align-items-center.justify-content-center.fs-4.flex-shrink-0.me-3 {
    padding: 5px;
    border-radius: 50%;
}

.fs-2.text-body-emphasis {
    color: blueviolet!important;
}

.skills-section {
    background-color: lightskyblue;
}

.xp-gang {
    margin-top: -30px;
    margin-bottom: -50px;
}

.put_me_to_the_right {
    text-align: right;
}

.cool-shit, .container-demo, .content {
    width: 100%;
    height: 60vh;
    position: relative;
}

.large-header {
    height: 100% !important;
}

#demo-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-title {
    z-index: 2 !important;
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.large-header {
    position: relative;
    width: 100%;
    background: darkcyan;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }

 .text-white {
    color: lightskyblue!important;
 }

 #gang {
    text-decoration: underline;
 }

 .thin {
    color: lightskyblue!important;
 }

 .main-title {
    position: absolute;
    font-size: 5rem;
    margin: 0;
    padding: 5;
    color: blueviolet!important;
    font-family: "Arial", "Helvetica", "sans-serif";
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-40%, -30%, 0);
    transform: translate3d(-40%, -30%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 2.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }

.lead.mb-4 {
    width: 50%;
    margin: auto;
}

.title-section {
    background-color: lightgray;
    margin: -3% -3%;
}

.lead.mb-4 {
    font-family: 'Courier New', Courier, monospace;
}

.display-5.fw-bold.text-body-emphasis {
    font-family: "Arial", "Helvetica", "sans-serif";
    color: blueviolet!important;
}

.d-block.mx-auto.mb-4 {
    width: 350px;
    height: 500px;
    border-radius: 50%;
    margin-top: 10px;
}

.badge.text-bg-success.rounded-pill {
    font-size: xx-large;
    color: 	lightskyblue!important;
    background-color: blueviolet!important;
    display: flex;
    justify-content: center;
    margin-bottom: -25px;
}

.icon-square.text-body-emphasis.bg-body-secondary.d-inline-flex.align-items-center.justify-content-center.fs-4.flex-shrink-0.me-3 {
    padding: 5px;
    border-radius: 50%;
}

.fs-2.text-body-emphasis {
    color: blueviolet!important;
}

.skills-section {
    background-color: lightskyblue;
}

.xp-gang {
    margin-top: -30px;
    margin-bottom: -50px;
}

.put_me_to_the_right {
    text-align: right;
}

.cool-shit, .container-demo, .content {
    width: 100%;
    height: 60vh;
    position: relative;
}

.large-header {
    height: 100% !important;
}

#demo-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-title {
    z-index: 2 !important;
}
